body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #0a0a0a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(160, 9, 9);
}
 
.caixa {
    font-size: 20px;
    color: white;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butao-na-caxa {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

button {
    height: 30px;
    width: 50px;
    background: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;
}